#booking-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  #booking-table th, #booking-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  #booking-table th {
    background-color: blue;
    color: white;
  }
  
  #booking-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #booking-table tr:hover {
    background-color: #ddd;
  }